div.game-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

div.table {
  width: 80vw;
  height: 70vh;
  margin: 150px auto;
  position: relative;
}

div.player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

div.player-circle {
  position: relative;
  width: 54px;
  height: 54px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid white;
  border-radius: 27px;
  line-height: 48px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.player-circle.rolling {
  border: 2px solid #0f0;
}

div.clickable-player {
  border: 2px solid #aa0;
  cursor: pointer;
}

p.player-gulps {
  width: 100%;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.plus-one {
  font-size: 18px;
}

.white-text {
  color: #fff;
}

.red-text {
  color: #f00;
}

.green-text {
  color: #0f0;
}

div.dice-wrapper {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 34vh;
  margin-top: -25px;
  left: 40vw;
  margin-left: -60px;
}

div.dice-wrapper > p {
  text-align: center;
}

div.die {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #fff;
}

div.die:last-of-type {
  margin-left: 15px;
}

p.player {
  font-size: 32px;
}

i.dreiman {
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  background: url("/Icons/dreiman.svg");
  width: 30px;
  height: 30px;
}
