div.game-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

div.table {
  width: 80vw;
  height: 70vh;
  margin: 150px auto;
  position: relative;
}

div.player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

div.player-circle {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid white;
  border-radius: 24px;
  line-height: 44px;
}

p.player-gulps {
  width: 100%;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}

p.white-text {
  color: #fff;
}

div.game-info-wrapper {
  position: absolute;
  width: 120px;
  top: 15vh;
  left: 40vw;
  margin-left: -60px;
  text-align: center;
}

div.dice-wrapper {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 35vh;
  margin-top: -25px;
  left: 40vw;
  margin-left: -60px;
}

div.die {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #fff;
}

div.die:last-of-type {
  margin-left: 15px;
}

p.player {
  font-size: 32px;
}
