<template name="Game">
  <div class="game-wrapper">
    <div class="table">
      {{#each $mapped room.players}}
        <div class="player-wrapper" id="player-{{$index}}">
          <div class="crown">
            {{#if isDreiman}}<i class="dreiman"></i>{{/if}}
            {{#if isDoubleDreiman}}<i class="dreiman"></i><i class="dreiman"></i>{{/if}}
          </div>
          <div class="player-circle {{#if needToDistributeGulps}}clickable-player{{/if}}" data-player-index={{$index}} unselectable="on">
            <p class="player-gulps white-text">{{gulps}}{{#if drinksThisRound}}<span class="plus-one green-text">+{{currentGulps}}</span>{{/if}}</p>
          </div>
          <div class="player-name">
            <p class="white-text">{{username}}</p>
          </div>
        </div>
      {{/each}}
      <div class="game-info-wrapper">
        <p class="white-text">{{gameState}} <br> {{currentPlayerUsername}} <br> ist dran!</p>
      </div>
      <div class="dice-wrapper">
        <div class="die">
          <!-- js inserts respective image sources -->
          <img id="die-1" src="/images/dice/Dice-{{die1}}.svg" alt="Würfel-1" />
        </div>
        <div class="die">
          <!-- js inserts respective image sources -->
          <img id="die-2" src="/images/dice/Dice-{{die2}}.svg" alt="Würfel-2" />
        </div>
        {{#if isMyTurn}}
          <button class="button" id="roll-button">Roll it!</button>
        {{/if}}
      </div>
    </div>
  </div>
</template>
