<template name="Lobby">
  {{#if isAdmin room._id currentUser}}
  <div id="headline">
    Durstige finden
  </div>
  <input type="text" name="invitee-name" class="input" id="invitee-name" value="" placeholder="Email, Benutzername, etc.">
  <button id="inviteButton" class="button" {{maximumReached}}>Einladen</button>
  <br>
  <div id="headline">
    Jemand kein Handy?
  </div>
  <input type="text" class="input" id="dummy-name" placeholder="Name">
  <button id="add-dummy-player" class="button" {{maximumReached}}>Hinzufügen</button>
  <br>
  <div id="headline">
    Einladungen: {{getLength invitations}}
  </div>
  <ul class="invitees-list">
    {{#each invitations}}
      <li class="invitation-item">
        <span>{{usernameForId invitee}}</span>
        <a href="#" class="clickable-list-item-icon cancelRoomInvitation"><i class="fa fa-times red"></i></a>
      </li>
    {{else}}
      <li class="no-player-item">
        <p class="no-data-msg">Keine? Willst du alleine trinken?</p>
      </li>
    {{/each}}
  </ul>
  <br>
  {{/if}}
  <div id="headline">
    Spieler: {{getLength room.players}}
  </div>
  <ul class="players-list">
    {{#each room.players}}
      <li class="player-item">
        <p>{{username}}</p>
      </li>
    {{else}}
      <li class="no-player-item">
        <p class="no-data-msg">Keine? Hat denn niemand Durst?</p>
      </li>
    {{/each}}
  </ul>
  <br>
  {{#if isAdmin room._id currentUser}}
    <button id="startButton" class="button">Durst löschen!</button>
  {{/if}}
</template>
