<template name="Lobby">
  <button id="createRoom" class="button">Saufrunde erstellen</button>
  <input type="text" class="input" id="room-name" maxlength="15" placeholder="Gib der Runde einen Namen">
  <br />
  <h3>Laufende Runden:</h3>
  {{#each activeRooms}}
    <div class="activeRoom">
      <a href="/room/{{_id}}">{{name}} ({{date}})</a>
    </div>
  {{else}}
    <p class="no-data-msg">Keine? Wird mal wieder Zeit!</p>
  {{/each}}
  <br />
  <h3>Einladungen:</h3>
  {{#each openInvitations}}
  {{else}}
    <p class="no-data-msg">Keine? Mit dir will wohl keiner saufen?!</p>
  {{/each}}
</template>
