#main {
	padding: 0 30px 30px;
	position: relative;
	z-index: 100;
}

#login {
	margin: 0 0 30px;
}

.fieldwrap {
	margin: 0 0 15px;
	position: relative;
}

.input-icon {
	cursor: pointer;
	display: block;
	height: 44px;
	left: 0;
	position: absolute;
	top: 0;
	width: 44px;
}

.input-icon.username {
	background: transparent url("/Icons/username.svg") no-repeat scroll center / 24px auto;
}

.input-icon.password {
	background: transparent url("/Icons/password.svg") no-repeat scroll center / 24px auto;
}

.input-icon.password_again {
	background: transparent url("/Icons/password.svg") no-repeat scroll center / 24px auto;
}

.input-icon.email {
	background: transparent url("/Icons/email.svg") no-repeat scroll center / 24px auto;
}

.input {
	background: transparent;
	border: none;
	border-bottom: 2px solid #ffffff;
	border-radius: 0;
	color: #ffffff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 10px 0 10px 50px;
	width: 100%;

	        appearance: none;
	   -moz-appearance: none;
	-webkit-appearance: none;
}

.button {
	background: transparent url("/Icons/loading.svg") no-repeat scroll center / 0 auto;
	border: 2px solid #ffffff;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 10px 0;
	text-align: center;
	transition: all 0.4s ease 0s;
	width: 100%;

	        appearance: none;
	   -moz-appearance: none;
	-webkit-appearance: none;
}

.button.loading {
	background: transparent url("/Icons/loading.svg") no-repeat scroll center / 24px auto;
	color: transparent;
}

.fieldwrap a {
	color: #ffffff;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	margin: 5px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;
}






#login_social_media {
	margin: 0 0 30px;
	text-align: center;
}

#headline {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	margin: 5px 0;
	position: relative;
	text-align: center;
}

#headline::before {
	background: #ffffff;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	top: 9px;
	width: 70px;
}

#headline::after {
	background: #ffffff;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	right: 0;
	top: 9px;
	width: 70px;
}

#at-google {
	background: transparent url("/Icons/google_plus.svg") no-repeat scroll center / 44px auto;
	border-radius: 50%;
	display: inline-block;
	height: 44px;
	margin: 0 10px;
	width: 44px;
}

#at-google:hover {
	background: transparent url("/Icons/google_plus.svg") no-repeat scroll center / 44px auto;
	box-shadow: 0px 0px 0px 3px #CA4C2E;
}

#at-facebook {
	background: transparent url("/Icons/facebook.svg") no-repeat scroll center / 44px auto;
	border-radius: 50%;
	display: inline-block;
	height: 44px;
	margin: 0 10px;
	width: 44px;
}

#at-facebook:hover {
	background: transparent url("/Icons/facebook.svg") no-repeat scroll center / 44px auto;
	box-shadow: 0px 0px 0px 3px #3B5998;
}

#at-twitter {
	background: transparent url("/Icons/twitter.svg") no-repeat scroll center / 44px auto;
	border-radius: 50%;
	display: inline-block;
	height: 44px;
	margin: 0 10px;
	width: 44px;
}

#at-twitter:hover {
	background: transparent url("/Icons/twitter.svg") no-repeat scroll center / 44px auto;
	box-shadow: 0px 0px 0px 3px #3288EB;
}
