<template name="Main">
  <div id="login">
    <div class="fieldwrap">
      <label class="input-icon username" for="username"></label>
      <input id="username" class="input" type="text" placeholder="Benutzername" name="username" value="">
    </div>
    <div class="fieldwrap">
      <label class="input-icon password" for="password"></label>
      <input id="password" class="input" type="text" placeholder="Passwort" name="password" value="">
    </div>
    <div class="fieldwrap">
      <input class="button" type="Button" name="name" value="Anmelden">
      <a href="#">Du hast dein Passwort vergessen?</a>
    </div>
  </div>

  <div id="login_social_media">
    <div id="headline">
      Melde dich an mit
    </div>
    <a href="#" id="google_plus_login"></a>
    <a href="#" id="facebook_login"></a>
    <a href="#" id="twitter_login"></a>
  </div>

  <div id="register">
    <div class="fieldwrap">
      <a href="#">Du hast noch keinen Account?</a>
      <input class="button" type="Button" name="name" value="Jetzt registrieren">
    </div>
  </div>
</template>
