<template name="Overview">
  <div id="headline">
    Saufrunde erstellen:
  </div>
  <input type="text" class="input" id="room-name" maxlength="15" placeholder="Name der Saufrunde">
  <input type="text" class="input" id="room-password" maxlength="10" placeholder="Passwort festlegen">
  <button id="createRoom" class="button">Los gehts!</button>
  <br />
  {{> RoomSearch}}
  <br />
  <div id="headline">
    Deine Saufrunden:
  </div>
  <ul class="active-rooms-list">
    {{#each activeRooms}}
      <li class="room-item">
        <a href="/room/{{_id}}" class="room-link">
          {{#if isAdmin _id currentUser}}
            <i class="fa fa-star yellow"></i>
          {{else}}
            <i class="fa fa-fw"></i>
          {{/if}}
          {{name}} ({{date}})
        </a>
        <a href="#" class="clickable-list-item-icon leaveRoom"><i class="fa fa-times red"></i></a>
      </li>
    {{else}}
      <li class="no-room-item">
        <p class="no-data-msg">Keine? Wird mal wieder Zeit!</p>
      </li>
    {{/each}}
  </ul>
  <br />
  <div id="headline">
    Einladungen:
  </div>
  <ul class="open-invitations-list">
    {{#each openInvitations}}
      <li class="invitation-item">
        <span>{{roomName}} - {{senderName}}</span>
        <a href="#" class="clickable-list-item-icon declineRoomInvitation"><i class="fa fa-times red"></i></a>
        <a href="#" class="clickable-list-item-icon acceptRoomInvitation"><i class="fa fa-check green"></i></a>
      </li>
    {{else}}
      <li class="no-invitation-item">
        <p class="no-data-msg">Keine? Will wohl keiner saufen?!</p>
      </li>
    {{/each}}
  </ul>
</template>
