<template name="RoomSearch">
  <div id="headline">
    Saufrunden suchen:
  </div>
  <input type="text" class="input" id="room-search-name" maxlength="15" placeholder="Saufrunde suchen">
  <ul class="search-result-list">
    {{#if searching}}
      <p>
        Searching...
      </p>
    {{else}}
      {{#each roomSearchResults}}
        <li class="room-item room-item-clickable">
          <span name="roomLabel">{{name}} ({{adminName}})</span>
        </li>
      {{else}}
        <li class="no-room-item">
          <p class="no-data-msg">Keine gefunden. Erstell doch einfach eine?!</p>
        </li>
      {{/each}}
    {{/if}}
  </ul>
  {{#if $.Session.get 'showRoomEntryModal'}}
    {{> RoomEntryModal room=currentRoom}}
  {{/if}}
</template>
