<template name="RoomEntryModal">
  <div class="modal">
    <div class="modal-content">
      <a href="#" class="close-button" id="close-modal"><i class="fa fa-close white"></i></a>
      <div class="field-wrap">
        <h3>{{room.name}} beitreten</h3>
        <p>({{adminName room.admin}})</p>
      </div>
      <div class="field-wrap">
        <input type="password" class="input" id="room-entry-password" placeholder="Passwort">
      </div>
      <div class="field-wrap">
        <button id="enter-room-with-pwd" class="button">Lass mich rein!</button>
      </div>
    </div>
  </div>
</template>
