<template name="Room">
  <h3>{{room.name}} ({{adminName}})</h3>
  {{#unless hasStarted}}
    {{#if isAdmin}}
    <div id="headline">
      Durstige finden
    </div>
    <input type="text" name="invitee-name" class="input" id="invitee-name" value="" placeholder="Email, Benutzername, etc.">
    <br>
    <button id="inviteButton" class="button">Einladen</button>
    <br>
    {{/if}}
    <div id="headline">
      Mitsäufer:
    </div>
    {{#each otherPlayers}}
      <p>{{userName}}</p>
    {{else}}
      <p class="no-data-msg">Keiner? Hat niemand Durst?</p>
    {{/each}}
    <br>
    {{#if isAdmin}}
      <button id="startButton" class="button">Durst löschen!</button>
    {{/if}}
  {{else}}

  {{/unless}}
</template>
