h3.room-title {
  text-align: center;
  margin-top: -10px;
}

a.top-left {
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 20;
}

a.top-left i.fa-sign-out {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

a.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
}
